<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Animals Show Page</h1>


    <div class="showcontainer">
        <div id="species">
            <p>Species: <%= aAnimal.species %></p>
            <p>Extinct: <%= aAnimal.extinct %></p>
            <p>location: <%= aAnimal.location %></p>
            <p>Live Expectancy: <%= aAnimal.lifeExpectancy %></p>
   
        </div>
    </div>
</body>
</html>